body {
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(233, 233, 233);
  background-color: rgb(34, 34, 34);
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: rgb(236, 236, 236);
}

.canvasgame {
  width: 65%;
  border-radius: 10px;
}
